* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}

.custom-height {
    height: 500px;
}

.main-bg {
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(29, 19, 19, 0.7), rgba(1, 0, 0, 0.4)), url("../img/repair-iphone.jpg");
}
.main-bg-index{
       /*background-attachment: fixed;*/
       background-position: center;
       background-size: cover;
       background-image: linear-gradient(to top, rgba(29, 19, 19, 0.7), rgba(1, 0, 0, 0.4)), url("../img/daniel-romero-73tFTwOrKPg-unsplash.jpg");
   
}


.margin-0-auto {
    margin: auto 0;
}

.width-custom-p {
    width: 100px;
}

p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    /*width: 220px;*/
    opacity: 0;
    color: white;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fs-40 {
    font-weight: bold;
    font-size: 40px;
}

.fs-70{
    font-size: 70px;
}

@media (max-width: 420px ) {
    .fs-40 {
        font-size: 34px;
    }

}

.margin-0-10 {
    margin: 10px;
}

.fa-unlock-alt,
.fa-mobile-alt,
.fa-headphones-alt,
.fa-tools,
.fa-shield-alt,
.fa-clock {
    color: #397ed0;
    font-size: 50px;
    margin: 20px auto;

}

.about-in {
    width: 100%;
    text-align: center;
    height: 100%;
}

.custom-h2 {
    background-color: #c66;
    width: 200px;
    height: 50px;
    line-height: 30px;
    position: relative;
    margin: 40px auto;
    color: #fff;
}

.custom-h2:before, .custom-h2:after {
    background-color: #a44;
    width: 50px;
    height: 50px;
    content: '';
    display: block;
    transform: skewY(20deg);
    position: absolute;
    z-index: -1;
}

.custom-h2:before {
    top: 10px;
    left: 0;
}

.custom-h2:after {
    top: -10px;
    right: 0;
}

.myAccordionText {
    cursor: pointer;
}

.phone-card{
    padding: 15px 0;
}

.phone-img{
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}